#form-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

form input,
form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

form input::placeholder,
form textarea::placeholder {
    color: #999;
}

form span {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
    height: 18px; 
}
form button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #218838;
}

@media (max-width: 600px) {
    #form-container {
        margin: 20px;
        padding: 15px;
    }

    form input,
    form textarea {
        font-size: 14px;
    }

    form button {
        font-size: 14px;
    }
}
